@font-face {
    font-family: charter;
    src: url("../font/charter_regular-webfont.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url("../font/charter_italic-webfont.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url("../font/charter_bold-webfont.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url("../font/charter_bold_italic-webfont.ttf");
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --gray10: #212121;
    --gray20: #212429;
    --gray30: #616161;
}

html {
    font-size: 16px;
}

body {
    color: var(--gray10);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--gray10);
}

h1 {
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    /* margin-left: 20px;
    margin-right: 10px;
    margin: 64px 10px 16px 10px; */
}

h1 ~ p {
    margin-bottom: 64px;
}

hr {
    margin: 64px 0;
}

header {
    font-size: 14px;
    color: var(--gray30);
}

header a {
    color: var(--gray30);
    text-decoration: none;
}

header a:hover {
    color: var(--gray20);
}

nav details summary {
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px 0;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}

blockquote {
 margin: 32px 0;
 padding-left: 16px;
 font-size: 24px;
 line-height: 24px;
 border-left: 4px solid var(--gray10);
}

blockquote span {
    color: var(--gray10);
}

blockquote span:before {
content: '-';
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent),  url('../images/pattern.png');
    height: 350px;
}

.section-content {
    margin-top: 164px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content + hr {
    display: none;
}

.section-content img {
    margin-top: 40px;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 4px;
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray10);
    display: inline-block;
}
